
<div class="card text-center">
  <div class="card-header" [ngStyle]="{'background-color': ticketToShow.handled? 'red' : ticketStatusColor}">
    Status
  </div>
  <div class="card-body">
    <h5 class="card-title">Ticket ID: {{ticketToShow.id}}</h5>
    <p class="card-text">{{ticketToShow.phoneNumber}}</p>
    <input type="button" class="btn btn-success" (click)="HandledClick()" value="Handle" />
  </div>
  <div class="card-footer text-muted">
    {{ticketToShow.creationDate | date:'full'}}
  </div>
</div>